*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   }

header
{
    background-image:url(400px-Telugu.jpg);
    height: 150vh;
    background-size: cover;
    background-position: center;    
    
}

.bar
{

    position:absolute;
    width:1200px;
    margin-left:0;
    margin-top:25px:

}